.u-section-1 {min-height: 738px}
.u-section-1 .u-sheet-1 {min-height: 738px}
.u-section-1 .u-layout-wrap-1 {width: 1140px; margin: 21px auto 0 -7px}
.u-section-1 .u-image-1 {min-height: 739px; background-image: url("images/IMG640b504d4c89130272971b752782c01bV.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-layout-cell-2 {min-height: 739px}
.u-section-1 .u-container-layout-2 {padding-left: 20px; padding-right: 20px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 193px}
.u-section-1 .u-sheet-1 {min-height: 356px}
.u-section-1 .u-layout-wrap-1 {width: 940px; margin-left: 0}
.u-section-1 .u-image-1 {min-height: 336px}
.u-section-1 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-layout-cell-2 {min-height: 336px}
.u-section-1 .u-container-layout-2 {padding-left: 16px; padding-right: 16px} }

@media (max-width: 991px){ .u-section-1 .u-layout-wrap-1 {width: 720px}
.u-section-1 .u-image-1 {min-height: NaNpx}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-layout-cell-2 {min-height: NaNpx}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 767px){ .u-section-1 {min-height: 188px}
.u-section-1 .u-sheet-1 {min-height: 351px}
.u-section-1 .u-layout-wrap-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-1 .u-container-layout-2 {padding-left: 5px; padding-right: 5px} }

@media (max-width: 575px){ .u-section-1 {min-height: 179px}
.u-section-1 .u-sheet-1 {min-height: 342px}
.u-section-1 .u-layout-wrap-1 {width: 340px}
.u-section-1 .u-container-layout-1 {padding-left: 1px; padding-right: 1px}
.u-section-1 .u-container-layout-2 {padding-left: 1px; padding-right: 1px} }.u-section-2 .u-sheet-1 {min-height: 243px}
.u-section-2 .u-text-1 {width: 700px; font-weight: 700; line-height: 1.3; font-size: 4.5rem; margin: 60px auto} 

@media (max-width: 1199px){ .u-section-2 .u-text-1 {height: 39px} }

@media (max-width: 767px){ .u-section-2 .u-text-1 {width: 540px} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {width: 340px} }.u-section-3 {min-height: 666px}
.u-section-3 .u-sheet-1 {min-height: 573px}
.u-section-3 .u-layout-wrap-1 {width: 1140px; margin: 1px auto}
.u-section-3 .u-layout-cell-1 {background-image: none; min-height: 570px}
.u-section-3 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-1 {position: relative; font-size: 1.25rem; height: 154px; margin: 0}
.u-section-3 .u-image-1 {min-height: 570px; background-image: url("images/i.jpg"); background-position: 100% 50%}
.u-section-3 .u-container-layout-2 {padding-left: 20px; padding-right: 20px} 

@media (max-width: 1199px){ .u-section-3 {min-height: 99px}
.u-section-3 .u-sheet-1 {min-height: 416px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-layout-cell-1 {min-height: 470px; z-index: 0}
.u-section-3 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-image-1 {min-height: 470px; z-index: 2}
.u-section-3 .u-container-layout-2 {padding-left: 16px; padding-right: 16px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 247px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-1 {margin-top: 2px}
.u-section-3 .u-image-1 {min-height: 360px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 767px){ .u-section-3 {min-height: 475px}
.u-section-3 .u-sheet-1 {min-height: 623px}
.u-section-3 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-3 .u-image-1 {min-height: 540px}
.u-section-3 .u-container-layout-2 {padding-left: 5px; padding-right: 5px} }

@media (max-width: 575px){ .u-section-3 {min-height: 168px}
.u-section-3 .u-sheet-1 {min-height: 316px}
.u-section-3 .u-container-layout-1 {padding-left: 1px; padding-right: 1px}
.u-section-3 .u-text-1 {margin-top: 8px}
.u-section-3 .u-image-1 {min-height: 340px}
.u-section-3 .u-container-layout-2 {padding-left: 1px; padding-right: 1px} }.u-section-4 {min-height: 441px}
.u-section-4 .u-layout-wrap-1 {width: 1320px; margin: 0}
.u-section-4 .u-image-1 {min-height: 486px; background-image: url("images/5cfeb61d3eb87_boiled_crayfish_4028126_1280.jpeg.jpg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-image-2 {min-height: 486px; background-image: url("images/107629rakisvarennyevvine.jpg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-2 {padding-left: 20px; padding-right: 20px} 

@media (max-width: 1199px){ .u-section-4 {min-height: 373px}
.u-section-4 .u-layout-wrap-1 {width: 940px}
.u-section-4 .u-image-1 {min-height: 346px}
.u-section-4 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-image-2 {min-height: 346px}
.u-section-4 .u-container-layout-2 {padding-left: 16px; padding-right: 16px} }

@media (max-width: 991px){ .u-section-4 .u-layout-wrap-1 {width: 720px}
.u-section-4 .u-image-1 {min-height: 265px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-2 {min-height: 265px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 767px){ .u-section-4 .u-layout-wrap-1 {width: 540px}
.u-section-4 .u-image-1 {min-height: 398px}
.u-section-4 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-4 .u-image-2 {min-height: 398px}
.u-section-4 .u-container-layout-2 {padding-left: 5px; padding-right: 5px} }

@media (max-width: 575px){ .u-section-4 {min-height: 502px}
.u-section-4 .u-layout-wrap-1 {width: 340px}
.u-section-4 .u-image-1 {min-height: 251px}
.u-section-4 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-4 .u-image-2 {min-height: 251px}
.u-section-4 .u-container-layout-2 {padding-left: 6px; padding-right: 6px} }.u-section-5 .u-sheet-1 {min-height: 281px}
.u-section-5 .u-group-1 {width: 570px; min-height: 213px; height: auto; margin: 35px auto 60px 0}
.u-section-5 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-5 .u-text-1 {position: relative; font-size: 1.25rem; margin: 0} 

@media (max-width: 1199px){ .u-section-5 .u-group-1 {position: relative; margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-container-layout-1 {padding-left: 16px; padding-right: 16px} }

@media (max-width: 991px){ .u-section-5 .u-group-1 {min-height: 289px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-text-1 {margin-top: 30px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: auto}
.u-section-5 .u-container-layout-1 {padding-left: 5px; padding-right: 5px} }

@media (max-width: 575px){ .u-section-5 .u-group-1 {min-height: 270px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-5 .u-text-1 {margin-top: 20px} }.u-section-6 .u-sheet-1 {min-height: 1124px}
.u-section-6 .u-layout-wrap-1 {margin: -7px auto 60px 0}
.u-section-6 .u-image-1 {min-height: 744px; background-image: url("images/102.jpg"); background-position: 50% 50%}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-layout-cell-2 {min-height: 744px}
.u-section-6 .u-container-layout-2 {padding: 30px 60px}
.u-section-6 .u-text-1 {font-size: 1.25rem; background-image: none; margin: 0}
.u-section-6 .u-image-2 {min-height: 278px; background-image: url("images/Rakovyi_sup.jpg"); background-position: 0% 58%}
.u-section-6 .u-container-layout-3 {padding: 30px} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 693px}
.u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-image-1 {min-height: 315px}
.u-section-6 .u-layout-cell-2 {min-height: 315px}
.u-section-6 .u-image-2 {min-height: 315px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 270px}
.u-section-6 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-2 {min-height: 236px}
.u-section-6 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 456px}
.u-section-6 .u-image-2 {min-height: 315px} }.u-section-7 .u-sheet-1 {min-height: 456px}
.u-section-7 .u-layout-wrap-1 {margin: -65px auto 10px 0}
.u-section-7 .u-image-1 {min-height: 511px; background-position: 50% 50%; background-image: url("images/d8a533b1-e7b8-b8b6-bcf0-1ddbb0028252.jpg")}
.u-section-7 .u-container-layout-1 {padding: 30px 60px}
.u-section-7 .u-layout-cell-2 {min-height: 511px}
.u-section-7 .u-container-layout-2 {padding: 30px 60px}
.u-section-7 .u-text-1 {font-size: 1.25rem; margin: 0} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 421px}
.u-section-7 .u-layout-wrap-1 {margin-top: -70px; margin-right: initial; margin-left: initial}
.u-section-7 .u-image-1 {min-height: 421px}
.u-section-7 .u-layout-cell-2 {min-height: 352px} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 322px}
.u-section-7 .u-layout-wrap-1 {margin-top: -64px; margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-7 .u-image-1 {min-height: 322px}
.u-section-7 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-7 .u-layout-cell-2 {min-height: 100px}
.u-section-7 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 242px}
.u-section-7 .u-image-1 {min-height: 483px}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 152px}
.u-section-7 .u-image-1 {min-height: 304px} }.u-section-8 .u-sheet-1 {min-height: 472px}
.u-section-8 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-8 .u-layout-cell-1 {min-height: 842px}
.u-section-8 .u-container-layout-1 {padding: 30px}
.u-section-8 .u-image-1 {height: 630px; width: 1076px; object-position: 50% 68.61%; background-position: 50% 68.61%; margin: 0 270px 0 0}
.u-section-8 .u-text-1 {font-size: 1.25rem; margin: 37px 0 0} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 367px}
.u-section-8 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-8 .u-layout-cell-1 {min-height: 694px}
.u-section-8 .u-image-1 {height: 148px; margin-right: 0; width: 253px} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 127px}
.u-section-8 .u-layout-cell-1 {min-height: 100px}
.u-section-8 .u-image-1 {height: 105px; width: 180px} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 227px}
.u-section-8 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 26px} }